@font-face {
    font-family: font ;
    src: url(Copyduck.ttf);
}

body{
    background-image: url(classched\ bg.gif);
    background-size: cover;
    background-repeat: none;
}

.bgcolor{
    background-color:#E4BAAE ;
}

.txtcolor:hover{
    color: #ded0b6;
}

.color{
    color: #301F19;
}

.font{
    font-family: font;
    font-size: 50px;
}

#back-btn{
    padding: 10px;
    width: 70px;
    color: #635c4e;
    z-index: 1;
    border-radius: 12px;
    border: none;
}

#back-btn:hover{
    color: #635c4e;
}

